<div class="header">
  <h1 class="name"><mat-icon>person</mat-icon>{{ name }}</h1>
  <button mat-mini-fab color="warn" (click)="closeDialog()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div class="container">
  <table>
    <tbody>
      <tr>
        <td>
          <h2>Seat Number</h2>
        </td>
        <td>
          <form class="form" [formGroup]="form" (ngSubmit)="changeSeatnumber()">
            <mat-form-field class="form-field">
              <input
                class="seat-input"
                matInput
                formControlName="seatNumberForm"
              />
              <mat-icon>mode_edit</mat-icon>
              <mat-error class="error-text" *ngIf="form.valid">
                Seat Number is not <strong> Valid </strong>
              </mat-error>
              <mat-hint *ngIf="showSeatOccupied">
                Seat is already taken
              </mat-hint>
            </mat-form-field>
            <button
              *ngIf="form.valid && form.dirty"
              class="submit"
              mat-raised-button
              type="submit"
              color="primary"
            >
              <span *ngIf="showSeatOccupied">Swap</span
              ><span *ngIf="!showSeatOccupied">Apply</span>
            </button>
          </form>
        </td>
      </tr>
      <tr>
        <td>
          <h3>Passport Number</h3>
        </td>
        <td>
          <h3>{{ passportNumber }}</h3>
        </td>
      </tr>
      <tr>
        <td>
          <h5>Address</h5>
        </td>
        <td>
          <h5>{{ address }}</h5>
        </td>
      </tr>
      <tr>
        <td>
          <h5>Contact</h5>
        </td>
        <td>
          <h5>{{ contactNumber }}</h5>
        </td>
      </tr>
      <tr>
        <td>
          <h3>Checked In</h3>
        </td>
        <td>
          <h3 class="checked-in-status">
            <mat-icon *ngIf="checkedIn" color="accent">done</mat-icon>
            <mat-icon *ngIf="!checkedIn" color="warn">close</mat-icon
            >{{ checkedIn ? "Yes" : "No" }}
          </h3>
        </td>
      </tr>
    </tbody>
  </table>
  <mat-divider
    class="divider"
    *ngIf="wheelChair || infants || ancillaryServices"
  ></mat-divider>
  <p *ngIf="wheelChair">Passanger requires Wheel Chair.</p>
  <p *ngIf="infants">Passanger boading with infant.</p>
  <p *ngIf="ancillaryServices">Passanger requires Ancillary services.</p>
  <mat-divider></mat-divider>
  <button
    class="checkin-button"
    mat-raised-button
    [color]="checkedIn ? 'warn' : 'primary'"
    (click)="sendCheckInDataToServer()"
  >
    {{ checkedIn ? "Undo Check In" : "Check In" }}
  </button>
</div>
