<div class="header">
  <h1 *ngIf="!isNewPassanger" class="name"><mat-icon>person</mat-icon>{{ name }}</h1>
  <div class="new-passanger-row" *ngIf="isNewPassanger">
    <form class="form" [formGroup]="formName">
      <h1 class="new-passanger">Name</h1>
      <mat-form-field class="form-field name-input">
        <input matInput formControlName="nameField" />
        <mat-error class="error-text"> Name is <strong>Required</strong>. </mat-error>
      </mat-form-field>
    </form>
  </div>
  <button mat-mini-fab color="warn" (click)="closeDialog()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div class="container">
  <form class="form" class="form-container" [formGroup]="form">
    <div class="row">
      <h3>Seat Number</h3>
      <mat-form-field class="form-field seat-input">
        <input matInput formControlName="seatNumberField" />
        <mat-error class="error-text"> Seat Number is not <strong>Valid</strong>. </mat-error>
        <mat-hint *ngIf="showSeatOccupied && !isNewPassanger"> Seat is already taken. It will be swapped. </mat-hint>
        <mat-hint role="alert" class="error" *ngIf="showSeatOccupied && isNewPassanger">
          Seat is already <strong>taken</strong>. Please choose other seat number.
        </mat-hint>
      </mat-form-field>
    </div>
    <div class="row">
      <h3>Passport Number</h3>
      <mat-form-field class="form-field passport-number-input">
        <input matInput formControlName="passportNumberField" />
        <mat-error class="error-text"> Passport Number should be alphanumeric with Upper case. </mat-error>
        <mat-hint role="alert" class="error" *ngIf="isNewPassangerAlreadyPresent">
          Passport Number already <strong>exisit</strong> in this Flight.
        </mat-hint>
      </mat-form-field>
    </div>
    <div class="row">
      <h3>Address</h3>
      <mat-form-field class="form-field address-input">
        <textarea matInput formControlName="addressField"></textarea>
      </mat-form-field>
    </div>
    <div class="row">
      <h3>Contact</h3>
      <mat-form-field class="form-field contact-number-input">
        <input matInput formControlName="contactNumberField" />
        <mat-error class="error-text" *ngIf="form.valid">
          Contact Number is not <strong> Valid </strong>. It should be numeric.
        </mat-error>
      </mat-form-field>
    </div>
    <div class="row">
      <h3>Checked In</h3>
      <div class="checkbox">
        <section>
          <mat-checkbox formControlName="checkedInField"></mat-checkbox>
        </section>
      </div>
    </div>
    <div class="row">
      <h3>Wheel Chair</h3>
      <div class="checkbox">
        <section>
          <mat-checkbox formControlName="wheelChairField"></mat-checkbox>
        </section>
      </div>
    </div>
    <div class="row">
      <h3>Infants</h3>
      <div class="checkbox">
        <section>
          <mat-checkbox formControlName="infantsField"></mat-checkbox>
        </section>
      </div>
    </div>
    <div class="row column">
      <h3>Check In Services</h3>
      <mat-form-field class="form-chip-field">
        <mat-chip-list #chipList aria-label="selection">
          <mat-chip
            *ngFor="let checkinService of checkinServices"
            [selectable]="selectable"
            [removable]="removable"
            (removed)="removeCheckinService(checkinService)"
          >
            {{ checkinService }}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="addCheckinService($event)"
            [matAutocomplete]="auto"
          />
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedCheckinService($event)">
            <mat-option *ngFor="let option of flightProperties.checkinServices" [value]="option">
              {{ option }}
            </mat-option>
          </mat-autocomplete>
        </mat-chip-list>
      </mat-form-field>
    </div>
    <div class="row column">
      <h3>Meal Type</h3>
      <mat-form-field appearance="fill">
        <mat-select value="{{ mealType }}" formControlName="mealTypeField">
          <mat-option *ngFor="let meals of flightProperties.mealTypes" value="{{ meals }}">{{ meals }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="row column">
      <h3>In Flight Services</h3>
      <mat-form-field class="form-chip-field">
        <mat-chip-list #chipListInflight aria-label="selection">
          <mat-chip
            *ngFor="let inflightService of inflightServices"
            [selectable]="selectable"
            [removable]="removable"
            (removed)="removeInflightService(inflightService)"
          >
            {{ inflightService }}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input
            [matChipInputFor]="chipListInflight"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="addInflightService($event)"
            [matAutocomplete]="autoInflightService"
          />
          <mat-autocomplete #autoInflightService="matAutocomplete" (optionSelected)="selectedInFlightService($event)">
            <mat-option *ngFor="let option of flightProperties.inflightServices" [value]="option">
              {{ option }}
            </mat-option>
          </mat-autocomplete>
        </mat-chip-list>
      </mat-form-field>
    </div>
    <div class="row column">
      <h3>Shop Items</h3>
      <mat-form-field class="form-chip-field">
        <mat-chip-list #chipListShopItem aria-label="selection">
          <mat-chip
            *ngFor="let shopItem of shopItems"
            [selectable]="selectable"
            [removable]="removable"
            (removed)="removeShopItem(shopItem)"
          >
            {{ shopItem }}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input
            [matChipInputFor]="chipListShopItem"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="addShopItem($event)"
            [matAutocomplete]="autoShopItem"
          />
          <mat-autocomplete #autoShopItem="matAutocomplete" (optionSelected)="selectedShopItem($event)">
            <mat-option *ngFor="let option of flightProperties.shopItem" [value]="option">
              {{ option }}
            </mat-option>
          </mat-autocomplete>
        </mat-chip-list>
      </mat-form-field>
    </div>
  </form>
</div>
<div>
  <button mat-flat-button [disabled]="isFormInvalid()" class="save-button" color="primary" (click)="saveSetting()">
    Save
  </button>
</div>
