<div class="header">
  <h1 class="name"><mat-icon>person</mat-icon>{{ name }}</h1>
  <button mat-mini-fab color="warn" (click)="closeDialog()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div class="container">
  <form class="form" class="form-container" [formGroup]="form">
    <div class="row">
      <h3>Seat Number</h3>
      <mat-form-field class="form-field seat-input">
        <input matInput formControlName="seatNumberField" />
        <mat-error class="error-text">
          Seat Number is not <strong>Valid</strong>.
        </mat-error>
        <mat-hint *ngIf="showSeatOccupied">
          Seat is already taken. It will be swapped.
        </mat-hint>
      </mat-form-field>
    </div>
    <div class="row">
      <h3>Passport Number</h3>
      <mat-form-field class="form-field passport-number-input">
        <input matInput formControlName="passportNumberField" />
        <mat-error class="error-text">
          Passport Number should be alphanumeric with Upper case.
        </mat-error>
      </mat-form-field>
    </div>
    <div class="row">
      <h3>Address</h3>
      <mat-form-field class="form-field address-input">
        <textarea matInput formControlName="addressField"></textarea>
      </mat-form-field>
    </div>
    <div class="row">
      <h3>Contact</h3>
      <mat-form-field class="form-field contact-number-input">
        <input matInput formControlName="contactNumberField" />
        <mat-error class="error-text" *ngIf="form.valid">
          Contact Number is not <strong> Valid </strong>. It should be numeric.
        </mat-error>
      </mat-form-field>
    </div>
    <div class="row">
      <h3>Checked In</h3>
      <div class="checkbox">
        <section>
          <mat-checkbox formControlName="checkedInField"></mat-checkbox>
        </section>
      </div>
    </div>
    <div class="row">
      <h3>Wheel Chair</h3>
      <div class="checkbox">
        <section>
          <mat-checkbox formControlName="wheelChairField"></mat-checkbox>
        </section>
      </div>
    </div>
    <div class="row">
      <h3>Infants</h3>
      <div class="checkbox">
        <section>
          <mat-checkbox formControlName="infantsField"></mat-checkbox>
        </section>
      </div>
    </div>
    <div class="row column">
      <h3>Check In Services</h3>
      <mat-form-field class="form-chip-field">
        <mat-chip-list #chipList aria-label="selection">
          <mat-chip
            *ngFor="let checkinService of checkinServices"
            [selectable]="selectable"
            [removable]="removable"
            (removed)="removeCheckinService(checkinService)"
          >
            {{ checkinService }}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="addCheckinService($event)"
          />
        </mat-chip-list>
      </mat-form-field>
    </div>
    <div class="row column">
      <h3>Meal Type</h3>
      <mat-form-field appearance="fill">
        <mat-select formControlName="mealTypeField">
          <mat-option value="notRequired">Not Required</mat-option>
          <mat-option value="vegMeal">Veg Meal</mat-option>
          <mat-option value="specialVegMeal">Special Veg Meal</mat-option>
          <mat-option value="nonVegMeal">Non Veg Meal</mat-option>
          <mat-option value="specialNonVegMeal"
            >Special Non Veg Meal</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
    <div class="row column">
      <h3>In Flight Services</h3>
      <mat-form-field class="form-chip-field">
        <mat-chip-list #chipListInflight aria-label="selection">
          <mat-chip
            *ngFor="let inflightService of inflightServices"
            [selectable]="selectable"
            [removable]="removable"
            (removed)="removeInflightService(inflightService)"
          >
            {{ inflightService }}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input
            [matChipInputFor]="chipListInflight"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="addInflightService($event)"
          />
        </mat-chip-list>
      </mat-form-field>
    </div>
    <div class="row column">
      <h3>Shop Items</h3>
      <mat-form-field class="form-chip-field">
        <mat-chip-list #chipListShopItem aria-label="selection">
          <mat-chip
            *ngFor="let shopItem of shopItems"
            [selectable]="selectable"
            [removable]="removable"
            (removed)="removeShopItem(shopItem)"
          >
            {{ shopItem }}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input
            [matChipInputFor]="chipListShopItem"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="addShopItem($event)"
          />
        </mat-chip-list>
      </mat-form-field>
    </div>
  </form>
</div>
<div>
  <button
    mat-flat-button
    [disabled]="isFormInvalid()"
    class="save-button"
    color="primary"
    (click)="saveSetting()"
  >
    Save
  </button>
</div>
