.header {
  display: flex;
  justify-content: space-between;
  button {
    margin-top: -24px;
    margin-right: -24px;
  }
}
.name {
  display: flex;
  align-items: center;
  mat-icon {
    margin-right: 1vw;
  }
}
.container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 170px);
  overflow: auto;
  width: calc(100% + 24px);
  h2,
  h3,
  h5 {
    margin: 0;
  }
}
td {
  max-width: 35vh;
  min-width: 25vh;
  @media screen AND (max-width: 900px) {
    max-width: 35vh;
  }
  @media screen AND (max-width: 500px) {
    max-width: 22vh;
    min-width: 18vh;
  }
}
.divider-top {
  margin-top: 12px;
}
.divider {
  margin-bottom: 12px;
}
.checkbox {
  display: flex;
  align-items: center;
}
.checkin-button {
  display: flex;
  width: fit-content;
  margin: auto;
  height: 30px;
  align-items: center;
}
.checked-in-status {
  display: flex;
  mat-icon {
    margin-right: 1vw;
  }
}
.form {
  display: flex;
}
.form-field {
  width: 120px;
}
.name-input {
  width: 210px;
}
.new-passanger {
  width: 18vw;
}
.new-passanger-row {
  display: flex;
}
.seat-input {
  width: 70px;
}
.passport-number-input {
  width: 140px;
}
.address-input {
  width: 210px;
  height: 60px;
}
.contact-number-input {
  width: 100px;
}
.submit {
  margin-left: 10%;
  height: fit-content;
  margin-top: 6%;
}
.form-chip-field {
  margin-top: -0.84375em;
}
input,
textarea {
  padding-left: 8px;
}
.save-button {
  width: fit-content;
  margin: auto;
  height: 35px;
  display: flex;
  align-items: center;
}
.form-container {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
  min-height: 7vh;
  h3 {
    width: 18vw;
  }
  @media screen AND (max-width: 500px) {
    h3 {
      width: 35vw;
    }
  }
}
.column {
  @media screen AND (max-width: 500px) {
    flex-direction: column;
    width: 75vw;
    h3 {
      width: 35vw;
    }
    & > :nth-child(2) {
      margin-left: 10vw;
    }
  }
}
