.side-container {
  display: flex;
  flex-direction: column;
  .side-div {
    a {
      text-decoration: unset;
      color: white;
      span {
        padding: 1vh 4vh 1vh 2vh;
        font-size: large;
        display: flex;
        align-items: center;
        background: inherit;
        mat-icon {
          margin-right: 2vw;
        }
      }
    }
    &:first-child {
      padding-top: 5vh;
    }
  }
}

.active-link {
  background-color: #7b1fa2;
}
