.spinner-container {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 4vh;
  margin-bottom: 2vh;
}
table {
  width: 100%;
}
.edit-icon {
  cursor: pointer;
}
.seatNumber-cell,
.mealType-cell,
.passportNumber-cell,
.checkedIn-cell,
.wheelChair-cell,
.infants-cell,
.inflightService-cell,
.shopItem-cell,
.checkinServices-cell {
  text-align: center;
}

.checkinServices-cell, .shopItem-cell {
  @media screen AND (max-width: 899px) {
    display: none;
  }
}
.wheelChair-cell,
.infants-cell,
.checkinServices-cell,
.inflightService-cell,
.shopItem-cell {
  @media screen AND (max-width: 599px) {
    display: none;
  }
}
