<div *ngIf="isLoadingShown" class="spinner-container" x>
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="!isLoadingShown" class="mat-elevation-z1">
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let passanger">{{ passanger.name }}</td>
    </ng-container>

    <ng-container matColumnDef="seatNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="seatNumber-cell">Seat Number</th>
      <td mat-cell *matCellDef="let passanger" class="seatNumber-cell">{{ passanger.seatNumber }}</td>
    </ng-container>

    <ng-container matColumnDef="passportNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="passportNumber-cell">Passport Number</th>
      <td mat-cell *matCellDef="let passanger" class="passportNumber-cell">
        {{ passanger.passportNumber }}
      </td>
    </ng-container>

    <ng-container matColumnDef="checkedIn">
      <th mat-header-cell *matHeaderCellDef class="checkedIn-cell">Checked In</th>
      <td mat-cell *matCellDef="let passanger" class="checkedIn-cell">
        <span *ngIf="passanger.checkedIn">Yes</span
        ><span *ngIf="!passanger.checkedIn">No</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="wheelChair">
      <th mat-header-cell *matHeaderCellDef class="wheelChair-cell">Wheel Chair</th>
      <td mat-cell *matCellDef="let passanger" class="wheelChair-cell">
        <span *ngIf="passanger.wheelChair">Yes</span
        ><span *ngIf="!passanger.wheelChair">No</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="infants">
      <th mat-header-cell *matHeaderCellDef class="infants-cell">Infants</th>
      <td mat-cell *matCellDef="let passanger" class="infants-cell">
        <span *ngIf="passanger.infants">Yes</span
        ><span *ngIf="!passanger.infants">No</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="checkedInServices">
      <th mat-header-cell *matHeaderCellDef class="checkinServices-cell">CheckIn Services</th>
      <td mat-cell *matCellDef="let passanger" class="checkinServices-cell">
        <span *ngIf="passanger.checkinServices.length > 0">Yes</span
        ><span *ngIf="passanger.checkinServices.length === 0">No</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="meal">
      <th mat-header-cell *matHeaderCellDef class="mealType-cell">Meal</th>
      <td mat-cell *matCellDef="let passanger" class="mealType-cell">
        <span *ngIf="passanger.mealType === mealNotRequiredText">Not requried</span
        ><span *ngIf="passanger.mealType === normalVegMealText">Veg</span
        ><span *ngIf="passanger.mealType === normalNonVegMealText">Non Veg</span
        ><span *ngIf="passanger.mealType === specialVegMealText">Special Veg</span
        ><span *ngIf="passanger.mealType === specialNonVegMealText">Special Non Veg</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="inFlightServices">
      <th mat-header-cell *matHeaderCellDef class="inflightService-cell">InFlight Services</th>
      <td mat-cell *matCellDef="let passanger" class="inflightService-cell">
        <span *ngIf="passanger.inflightServices.length > 0">Yes</span
        ><span *ngIf="passanger.inflightServices.length === 0">No</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="shopItem">
      <th mat-header-cell *matHeaderCellDef class="shopItem-cell">Shop Items</th>
      <td mat-cell *matCellDef="let passanger"  class="shopItem-cell">
        <span *ngIf="passanger.shopItem.length > 0">Yes</span
        ><span *ngIf="passanger.shopItem.length === 0">No</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>Edit</th>
      <td mat-cell *matCellDef="let passanger">
        <mat-icon class="edit-icon" (click)="openPassangerDetails(passanger)">mode_edit</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let passanger; columns: displayedColumns"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
</div>
