.mat-drawer-container {
  height: 93%;
}
.mat-toolbar {
  height: 7%;
  justify-content: space-between;
}
.name-container {
  display: flex;
  align-items: center;
  mat-icon {
    margin-right: 1vw;
  }
  background: none;
  border: none;
  color: white;
  font-size: inherit;
  cursor: pointer;
  padding: 1%;
  &:focus {
    outline: auto 1px;
  }
}
.header {
  display: flex;
  align-items: center;
}
.logo {
  height: 7%;
  width: 7%;
  margin: 9px 15px 0px 15px;
  cursor: pointer;
}
.profile-image {
  display: flex;
  justify-content: center;
  img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
}
.details {
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0px 9px;
}
