<mat-toolbar class="mat-toolbar" color="primary">
  <span><mat-icon *ngIf="isMobile" (click)="toggleSideNav()">menu</mat-icon>{{ title }}</span>
  <span *ngIf="isLoggedIn" class="name-container"
    ><mat-icon>account_circle</mat-icon>{{ userName }}</span
  >
</mat-toolbar>
<mat-drawer-container class="mat-drawer-container" [hasBackdrop]="isMobile">
  <mat-drawer
    *ngIf="isLoggedIn"
    [mode]="!isMobile ? 'side' : 'over'"
    class="mat-drawer"
    [opened]="!isMobile || toggled"
    ><app-side-nav (navigationSelected)="toggleSideNav()"></app-side-nav
  ></mat-drawer>
  <mat-drawer-content><router-outlet></router-outlet></mat-drawer-content>
</mat-drawer-container>
