.mat-drawer-container {
  height: 93%;
}
.mat-toolbar {
  height: 7%;
  justify-content: space-between;
}
.mat-drawer {}
.name-container {
  display: flex;
  align-items: center;
  mat-icon {
    margin-right: 1vw;
  }
}
