<div *ngIf="isLoadingShown" class="spinner-container" x>
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="!isLoadingShown" class="container">
  <div class="seat-row-label">
    <div *ngFor="let column of columnSeatNumbrer" class="seat">
      {{ column !== 0 ? column : '' }}
    </div>
  </div>
  <div class="seat-container">
    <div class="seat-colum-label">
      <div *ngFor="let row of rowSeatName" class="seat">{{ row }}</div>
    </div>
    <div class="seat-row-container">
      <div *ngFor="let seatRow of seatsArray; let column = index" class="seat-row">
        <div
          *ngFor="let seat of seatRow; let row = index"
          class="seat"
          id="{{ column }}-{{ row }}"
          (click)="selectSeat($event)"
          [ngClass]="{
            'checked-in': type === 'checkin' && seat.includes(checkedInText),
            'not-checked-in': type === 'checkin' && seat.includes(notCheckedInText),
            'meal-not-requried': type === 'inflight' && seat.includes(mealNotRequiredText),
            'veg-meal': type === 'inflight' && (seat.includes(normalVegMealText) || seat.includes(specialVegMealText)),
            'non-veg-meal':
              type === 'inflight' && (seat.includes(normalNonVegMealText) || seat.includes(specialNonVegMealText))
          }"
        >
          <div
            *ngIf="type === 'checkin' && seat.includes(wheelChairText)"
            id="{{ column }}-{{ row }}"
            (click)="selectSeat($event)"
            class="wheel-chair"
          ></div>
          <div
            *ngIf="type === 'checkin' && seat.includes(infantsText)"
            id="{{ column }}-{{ row }}"
            (click)="selectSeat($event)"
            class="infants"
          ></div>
          <div
            *ngIf="type === 'inflight' && (seat.includes(specialVegMealText) || seat.includes(specialNonVegMealText))"
            class="special-meal"
          ></div>
          <div *ngIf="type === 'inflight' && seat[2] > 0" class="shop-item"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="anotation">
    <div *ngIf="type === 'checkin'">
      <div class="seat checked-in"></div>
      Checked In
    </div>
    <div *ngIf="type === 'checkin'">
      <div class="seat not-checked-in"></div>
      Not Checked In
    </div>
    <div *ngIf="type === 'inflight'">
      <div class="seat meal-not-requried"></div>
      Meal Not Required
    </div>
    <div *ngIf="type === 'inflight'">
      <div class="seat veg-meal"></div>
      Veg Meal
    </div>
    <div *ngIf="type === 'inflight'">
      <div class="seat non-veg-meal"></div>
      NonVeg Meal
    </div>
    <div>
      <div class="seat"></div>
      Not Allocated
    </div>
    <div *ngIf="type === 'checkin'">
      <div class="seat wheel-chair"></div>
      Wheel Chair Required
    </div>
    <div *ngIf="type === 'checkin'">
      <div class="seat infants"></div>
      Infants Boarding
    </div>
    <div *ngIf="type === 'inflight'">
      <div class="seat special-meal"></div>
      Special Meal
    </div>
    <div *ngIf="type === 'inflight'">
      <div class="seat shop-item"></div>
      Shop Items
    </div>
  </div>
</div>
