.container {
  margin-top: 5vh;
  @media screen AND (max-width: 599px) {
    display: flex;
    margin-top: 2vh;
  }
}
.seat-row-label {
  display: flex;
  flex-direction: row;
  div {
    font-size: 1.5vw;
    background: none;
    height: 2.25vw;
    text-align: center;
  }
  @media screen AND (max-width: 599px) {
    margin-top: 1.5vh;
    flex-direction: column;
    margin-right: 2.5vw;
    div {
      height: 6vw;
      font-size: 3.5vw;
    }
  }
}
.seat-container {
  display: flex;
  flex-direction: row;
  @media screen AND (max-width: 599px) {
    margin-top: 1vh;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
.seat-colum-label {
  margin-right: 1vw;
  display: flex;
  flex-direction: column;
  div {
    width: 100%;
    font-size: 2.5vw;
    display: flex;
    align-items: center;
    background: none;
    &:nth-child(4) {
      margin-top: 1.5vh;
    }
  }
  @media screen AND (max-width: 599px) {
    display: flex;
    flex-direction: row;
    div {
      display: inline;
      font-size: 5vw;
      margin: 0.5vw;
      width: 11.5%;
      text-align: center;
      &:nth-child(4) {
        margin-top: 0.5vw;
        margin-left: 2.5vw;
      }
    }
  }
}
.seat-row-container {
  width: 97%;
  @media screen AND (max-width: 599px) {
    display: flex;
  }
}
.seat-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  &:nth-child(4) {
    margin-top: 1.5vh;
  }
  @media screen AND (max-width: 599px) {
    flex-direction: column;
    width: 13.5%;
    &:nth-child(4) {
      margin-top: 0vh;
      margin-left: 2vw;
    }
  }
}
.seat {
  width: 4.7619%;
  background: grey;
  margin: 0.25vw;
  height: 3vw;
  @media screen AND (max-width: 599px) {
    width: 80%;
    height: 6vw;
    margin: 0.5vw;
  }
}
.checked-in {
  background-color: skyblue;
  cursor: pointer;
  &:hover {
    outline: 0.5px solid white;
  }
}
.not-checked-in {
  background-color: lightcoral;
  cursor: pointer;
  &:hover {
    outline: 0.5px solid white;
  }
}
.meal-not-requried {
  background-color: #ffff7e;
  cursor: pointer;
  &:hover {
    outline: 0.5px solid white;
  }
}
.veg-meal {
  background-color: #7aff7a;
  cursor: pointer;
  &:hover {
    outline: 0.5px solid white;
  }
}
.non-veg-meal {
  background-color: #ff5273;
  cursor: pointer;
  &:hover {
    outline: 0.5px solid white;
  }
}
.wheel-chair {
  width: 35%;
  height: 50%;
  background-color: blue;
}
.infants {
  width: 35%;
  height: 50%;
  background-color: purple;
}
.special-meal {
  width: 35%;
  height: 50%;
  background-color: steelblue;
}
.shop-item {
  width: 35%;
  height: 50%;
  background-color: purple;
}
.spinner-container {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 4vh;
  margin-bottom: 2vh;
}
.anotation {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  div {
    display: inline-flex;
    align-items: center;
    .seat {
      width: 2vw;
      height: 2vw;
    }
  }
  @media screen AND (max-width: 599px) {
    width: 40vw;
    height: fit-content;
    div {
      height: fit-content;
      margin-top: 8%;
      margin-bottom: 8%;
    }
  }
}
