<mat-expansion-panel (opened)="setPanelOpen()" (closed)="setPanelClose()">
  <mat-expansion-panel-header>
    <mat-panel-title> {{ flightFrom }} &#8594; {{ flightTo }}</mat-panel-title>
    <mat-panel-description class="mat-panel-description"
      ><span>{{ date }}</span> | <span>{{ time }}</span>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <div *ngIf="isPanelOpen">
    <div class="sirline-detail">
      <span> {{ flightNumber }}</span
      ><span>{{ flightPartner }}</span
      ><span> Gate - {{ gate }} </span>
      <mat-slide-toggle [checked]="isSeatMapView" (change)="changeView($event)"
        >Switch to <span *ngIf="isSeatMapView">Table</span
        ><span *ngIf="!isSeatMapView">Seat</span> View</mat-slide-toggle
      >
    </div>
    <mat-divider></mat-divider>
    <app-seats *ngIf="isSeatMapView" [flightNumber]="flightNumber" [type]="type"></app-seats>
    <app-table *ngIf="!isSeatMapView" [flightNumber]="flightNumber"></app-table>
  </div>
</mat-expansion-panel>
