/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/purple-green.css";

html,
body,
app-root {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: white;
  background-color: #7b1fa2;
}
.mat-form-field-appearance-fill .mat-form-field-infix {
  padding-top: 0px !important;
}
.mat-form-field-flex {
  padding-top: 0px !important;
}
.mat-form-field-appearance-fill .mat-select-arrow-wrapper {
  transform: translateX(-5%) !important;
}
.mat-form-field-appearance-legacy .mat-form-field-infix {
  padding-top: 0px !important;
}
.mat-form-field-subscript-wrapper {
  @media screen AND(max-width: 1920px) {
    width: 17vw !important;
  }
  @media screen AND (max-width: 900px) {
    width: 27vw !important;
  }
  @media screen AND (max-width: 500px) {
    width: 47vw !important;
  }
}