/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/purple-green.css";

html,
body,
app-root {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: white;
  background-color: #7b1fa2;
}
